:root {
  --primary-background-color: #11151c;
  --secondary-background-color: #212d40;
  --font-color: #c5d4e8;
  --font: "Courier New", Courier, monospace;
}

body {
  background-color: var(--primary-background-color);
  padding: 0;
  overflow: hidden;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.activity {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
}

.live-view-wrapper {
  width: 80%;
  height: 100%;
}

.live-view {
  width: 100%;
  height: 100%;
}

.analytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30%;
}

.graph {
  height: 100%;
  width: 50%;
  background-color: var(--secondary-background-color);
}

.events-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}

.events-title {
  font-family: var(--font);
  text-align: center;
  font-size: 2em;
  color: var(--font-color);
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.events {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  overflow: hidden;
}

.event-text {
  width: 90%;
  font-size: 1em;
  color: var(--font-color);
  font-family: var(--font);
  padding-left: 1em;
  line-break: normal;
}

.add-known-faces-button {
  position: fixed;
  color: var(--font-color);
  left: 0;
  background-color: transparent;
  border-style: none;
  margin: 10px;
  font-family: var(--font);
  transition: 0.3s ease-in-out;
  font-size: 1em;
}

.add-known-faces-button:hover {
  transform: translateY(5px);
  color: white;
}
