:root {
  --primary-background-color: #1d1415;
  --secondary-background-color: #331832;
}

body {
  background-color: var(--primary-background-color);
  padding: 0;
}

.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.activity {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary-background-color);
}

.live-view-wrapper {
  width: 80%;
  height: 100%;
}

.live-view {
  width: 100%;
  height: 100%;
}

.analytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30%;
}

.graph {
  height: 100%;
  width: 49%;
  background-color: var(--secondary-background-color);
}
